<div class = "side-header">
  <div class = "header-name">
    <%= link_to current_user.name, edit_user_path(current_user) %>
  </div>
  <div class = "create-group">
    <%= link_to "groupを作成する", new_group_path %>
  </div>
</div>

<div class = "groups">
  <% current_user.groups.each do |group| %>
    <div class = "group">
      <div class = "group-name">
      <%= group.name %>
        <%# <%= link_to "group.name", "group_posts_path(group)" %> 
      </div>
    </div>
  <% end %>
  <div class = "passcode-form">
    <%= form_with(url: search_groups_path, local: true, method: :get, class: "search-form") do |form| %>
      <%= form.text_field :passcode, placeholder: "グループのパスコードを入力", class: "search-input" %>
      <%= form.submit "検索", class: "search-btn" %>
  <% end %>

</div>