<div class="header d-flex align-items-center py-3 px-4 bg-white border-bottom shadow-sm">
  <div class="header-title my-0 mr-auto font-weight-bold">
    <%= link_to image_tag("logo.png"), root_path %>
  </div>
  <div class="current-user mr-md-3">こんにちは、
    <%= link_to current_user.name, edit_user_path(current_user), {class: "text-body font-weight-bold"} %>さん
  </div>
  <div class="btn btn-danger ml-3">
    <%= link_to "投稿を削除", group_post_path(@group.id, @post.id), {method: :delete, class: "text-white text-decoration-none font-weight-bold"} %>
  </div>
  <div class="btn btn-outline-secondary ml-3">
    <%= link_to "ログアウト", destroy_user_session_path, {method: :delete, class: "text-body text-decoration-none font-weight-bold"}%>
  </div>
</div>

<div class = "form-body pt-5 overflow-auto">
  <div class="forms text-center m-auto">
  <h1 class = "font-weight-bold mb-5">投稿編集</h1>
    <%= render partial: "post", local: { post: @post } %>
  </div>
</div>