<div class="header d-flex align-items-center py-3 px-4 bg-white border-bottom shadow-sm">
  <div class="header-title my-0 mr-auto font-weight-bold">
    <%= link_to image_tag("logo.png"), root_path %>
  </div>
  <div class="current-user mr-md-3">こんにちは、
    <%= link_to current_user.name, edit_user_path(current_user), {class: "text-body font-weight-bold"} %>さん
  </div>
  <div class="btn btn-primary">
    <%= link_to "新規投稿", new_group_post_path, {class: "text-white text-decoration-none font-weight-bold"} %>
  </div>
  <div class="btn btn-primary ml-3">
    <%= link_to "グループを編集", edit_group_path(@group.id), {class: "text-white text-decoration-none font-weight-bold"} %>
  </div>
  <div class="btn btn-outline-primary ml-3">
    <%= link_to "ログアウト", destroy_user_session_path, {method: :delete, class: "text-body text-decoration-none font-weight-bold"}%>
  </div>
</div>

<div class="wrapper d-flex">
  <%= render "groups/side_bar" %>
  <div class="main text-center">
    <div class ="group-name-bar py-1 d-flex">
      <h1 class="text-left ml-4 text-white font-weight-bold">
        <%= @group.name %>
      </h1>
    </div>
    <div class="group-members d-flex align-items-center pl-3 py-2">
      <h5 class="member-head font-weight-bold  text-white">メンバー:</h5>
      <div class="group-member d-flex">
        <% @group.users.each do |user| %>
          <h5 class="mx-2 text-white"><%= user.name %></h5>
        <% end %>
      </div>
    </div>
    <div class="posts-header d-flex text-left py-3">
      <h2 class="posts-header-title w-50 font-weight-bold pl-3">タイトル</h2>
      <h2 class="posts-header-user w-25 font-weight-bold">投稿者</h2>
      <h2 class="posts-header-date w-25 font-weight-bold">投稿日</h2>
    </div>
    <div class="card-deck mb-3">
      <div class="post-cards">
        <% @posts.each do |post| %>
          <div class="post-card" data-read=<%= current_user.already_readed?(post) %>>
            <%= link_to group_post_path(post.group.id, post.id), class: "post-link" do%>
              <div class="card-contents d-flex py-2">
                <h4 class="post-title my-2 pl-2 font-weight-normal text-left w-50">
                  <%= post.title %>
                </h4>
                <h4 class="post-user my-2 font-weight-normal text-left w-25">
                  <%= post.user.name %>
                </h4>
                <h4 class="post-date my-2 font-weight-normal text-left w-25">
                  <%= l post.created_at %>
                </h4>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>