<div class="header d-flex align-items-center py-3 px-4 bg-white border-bottom shadow-sm">
  <div class="header-title my-0 mr-auto font-weight-bold">
    <%= link_to image_tag("logo.png"), root_path %>
  </div>
  <div class="current-user mr-md-3">こんにちは、
    <%= link_to current_user.name, edit_user_path(current_user), {class: "text-body font-weight-bold"} %>さん
  </div>
  <div class="btn btn-primary">
    <%= link_to "投稿を編集", edit_group_post_path(@group.id, @post.id), {class: "text-white text-decoration-none font-weight-bold"} %>
  </div>
  <div class="btn btn-outline-primary ml-3">
    <%= link_to "ログアウト", destroy_user_session_path, {method: :delete, class: "text-body text-decoration-none font-weight-bold"}%>
  </div>
</div>

<div class="wrapper d-flex">
  <%= render "groups/side_bar" %>
  <div class="main pb-3 text-center">
    <div class ="group-name-bar py-1 mb-1">
      <h1 class="text-left ml-4 text-white font-weight-bold">
        <%= @post.group.name %>
      </h1>
    </div>
    <div class="post-box mx-auto mt-2 px-5">
      <h2 class ="mt-5 pt-3 font-weight-bold">
        <%= @post.title %>
      </h2>
      <div class="post-user text-right pr-2">
        by <%= @post.user.name %>
      </div>
      <div class="post-date text-right pr-2">
        <%= l @post.created_at %>
      </div>
      <div class="post-content my-5 px-2">
        <%=  simple_format(@post.content) %>
      </div>
      <div class="pb-5 px-2">
        <%= image_tag @post.image.variant(resize: "600x600") if @post.image.attached? %>
      </div>
    </div>
    <div class="post-comments mt-2">
      <div class="comment-form mb-2">
        <%= form_with(model: [@group, @post, @comment], local: true) do |f| %>
          <%= render "shared/error_messages", model: f.object %>
        <div class="form">
          <h3 class="form-label mt-3">
            <%= f.label :コメント%>
          </h3>
          <%= f.text_field :text, class: "form-input", placeholder: "コメントを入力" %>
        </div>
        <div class="submit mb-5">
          <%= f.submit "送信", class: "btn btn-primary px-5 font-weight-bold" %>
        </div>
      </div>
      <% end %> 
      <% if @comments %>
        <div class="comments-box mb-5 p-3">
          <h3 class="mb-5">コメント一覧</h3>
          <% @comments.each do |comment| %>
            <ul class="comments-list">
              <li class="comment py-4">
                <div class="comment-text mr-3">
                  <%= comment.text %>
                </div>
                <div class="comment-right">
                  <div class="comment-user">
                    by <%= comment.user.name %>
                  </div>
                  <div class="comment-delete mr-3">
                    <%= link_to "コメントを削除", group_post_comment_path(@group.id, @post.id, comment.id), method: :delete %>
                  </div>
                </div>
              </li>
            </ul>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>